body {
    min-height: 100vh;
    background-color:#909ba0;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

h2, p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

main {
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    height: 2em;
    padding: 10px;
    align-items: center;
    width: 100%;
    position: fixed;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

nav {
    margin-right: 40px;
}

nav > a {
    text-decoration: none;
    color: black;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
}

nav > a:hover {
    background-color: white;
    color: blueviolet;
}
 
nav > a:active {
    background-color: white;
    color: blueviolet
  }

header > span {
    padding: 20px;
}

#Home {
    background-image: url("phyllis-kosminsky-2M43Age2FLw-unsplash.jpg");
    background-size: cover;
}

.Welcome {
    color: white;
    font-size: 120px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 170px;
    text-shadow: 5px 5px gray;
}

.photo-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 40px;
    font-size: 12px;
    color: black;
}

.photo-credit > a {
    text-decoration: none;
    color: black;
}

#About {
    background-color: #909ba0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    display: grid;
    align-items: baseline;
    justify-items: center;
}

.image > img {
    width: 35%;
    height: 35%;
}

.image > p {
    font-size: 12px;
}

.image > p > a {
    text-decoration: none;
    color: black;
}

.text > p {
    font-size: 12px;
}

#Contact {
    background: linear-gradient(#909ba0, blueviolet);
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

li {
    padding: 20px;
}

.Sayhi {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

footer {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
}
  
footer > a {
        position: relative;
        text-decoration: none;
        color: black;
      }
      
footer > a::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 4px;
          border-radius: 4px;
          background-color: #18272F;
          bottom: 0;
          left: 0;
          transform-origin: right;
          transform: scaleX(0);
          transition: transform .3s ease-in-out;
        }
      
footer > a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }